h1{
	text-align: center;
	text-decoration: underline;
	

}

body{
	background-color: #000

}

#theContent{
	background-color: #A90000;
	padding: 0px 50px;
	border-radius: 15px;
	border: solid;
	margin: 40px 30px
	
	
}
	
#navBar {
	background-color: #065D91;
	text-align: center;
	
	
}
#navBar ul li a{
	text-decoration: none;
	display: block;
	list-style-type: none;

}